{%extends "myApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <header>
            <div class="logo">
                <!--<a href="#"> -->
                    <img src="{% static 'img\logo.jpeg' %}" alt="Market Logo">             
                <!--</a>-->
            </div>    
                <p>Farmers' Marketplace</p>

    </header>

    <div class="user-profile">
        <img src="" alt="">
    </div>

    <section class="search-results">
        <h2>Search Results For:</h2>
        <h2><span>All Food Types Available Everywhere In Kenya</span></h2> <br><br><br><br><br><br><br><br><br><br><br><br>
        <p><a href="/register/buyer/">Buy Produce Here</a>| <a href="/register/farmer/">Sell Produce Here</a></p>
    </section>

    <!--<section class="suppliers-section">
        <h3>SUPPLIERS</h3>
        Suppliers content will be dynamicall loaded here
         <div id="suppliers-list"></div>
    </section> -->


    <!--<script>
        // fetch suppliers data from the backend
        fetch('/suppliers/')
        .then(response => response.json())
        .then(data => {
            let suppliersList = document.getElementById('suppliers-list');
            data.forEach(supplier => {
                suppliersList.innerHTML += `<p>${supplier.name} - ${supplier.location}<p>`;
            });
        });
    </script>-->
    
{% endblock %}